# Ignore special folders
.git/
.cache/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

node_modules/
coverage/
merged-coverage/
playwright-report/
test-report.xml
proxy.config.json
.env

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# python
.py[c]
.sw[a-z]a
__pycache__/
htmlcov/
.coverage
coverage.xml
.eggs/
*.egg-info/
venv/
.tox/
